In [4]:
import pandas as pd
import numpy as np

# Manipulowanie danymi:

In [ ]:
df = pd.DataFrame(np.random.uniform(0,1,(5,3)))
df.columns = ['A', 'B', 'C']
df.index=(pd.date_range(start='2020-03-01', end='2020-03-05'))
display(df)

                   A         B         C
2020-03-01  0.990339  0.216897  0.663078
2020-03-02  0.263322  0.020651  0.758379
2020-03-03  0.320017  0.383464  0.588317
2020-03-04  0.831048  0.628982  0.872651
2020-03-05  0.273542  0.798047  0.185636

In [21]:
df = pd.DataFrame(np.random.uniform(0,1,(20,3)))
df.columns = ['A', 'B', 'C']
df.index = pd.RangeIndex(1,21)
df.index.name = 'id'

display(df.iloc[0:3])
display(df.iloc[17::])
display(df.index.name)
display(list(df.columns))
display(df.to_string(index=False, header=False))
display(df.sample(5))
print(df['A'])
print(df[['A','B']])
print(df.iloc[4])
print(df.iloc[[0, 5, 6, 7], [1, 2]])

           A         B         C
id
1   0.068681  0.648953  0.776073
2   0.267357  0.647274  0.622348
3   0.994639  0.215292  0.494812

           A         B         C
id
18  0.369759  0.813642  0.516420
19  0.247321  0.228164  0.058532
20  0.270581  0.100864  0.188982

'id'

['A', 'B', 'C']

'0.068681 0.648953 0.776073\n0.267357 0.647274 0.622348\n0.994639 0.215292 0.494812\n0.557476 0.169330 0.771597\n0.388609 0.435047 0.883109\n0.771008 0.629575 0.463111\n0.704414 0.724697 0.695192\n0.690245 0.412243 0.630105\n0.447232 0.424444 0.271710\n0.406421 0.649716 0.170299\n0.986574 0.364953 0.691062\n0.121416 0.003951 0.839559\n0.693377 0.674605 0.358561\n0.596997 0.585076 0.676062\n0.296976 0.805507 0.192729\n0.856954 0.583928 0.474249\n0.012037 0.586256 0.489317\n0.369759 0.813642 0.516420\n0.247321 0.228164 0.058532\n0.270581 0.100864 0.188982'

           A         B         C
id
11  0.986574  0.364953  0.691062
15  0.296976  0.805507  0.192729
20  0.270581  0.100864  0.188982
3   0.994639  0.215292  0.494812
13  0.693377  0.674605  0.358561

id
1     0.068681
2     0.267357
3     0.994639
4     0.557476
5     0.388609
6     0.771008
7     0.704414
8     0.690245
9     0.447232
10    0.406421
11    0.986574
12    0.121416
13    0.693377
14    0.596997
15    0.296976
16    0.856954
17    0.012037
18    0.369759
19    0.247321
20    0.270581
Name: A, dtype: float64
           A         B
id
1   0.068681  0.648953
2   0.267357  0.647274
3   0.994639  0.215292
4   0.557476  0.169330
5   0.388609  0.435047
6   0.771008  0.629575
7   0.704414  0.724697
8   0.690245  0.412243
9   0.447232  0.424444
10  0.406421  0.649716
11  0.986574  0.364953
12  0.121416  0.003951
13  0.693377  0.674605
14  0.596997  0.585076
15  0.296976  0.805507
16  0.856954  0.583928
17  0.012037  0.586256
18  0.369759  0.813642
19  0.247321  0.228164
20  0.270581  0.100864
A    0.388609
B    0.435047
C    0.883109
Name: 5, dtype: float64
           B         C
id
1   0.648953  0.776073
6   0.629575  0.463111
7   0.724697  0.695192
8   0.412243  0.630105