In [13]:
import pandas as pd
import numpy as np

# Manipulowanie danymi:

In [ ]:
df = pd.DataFrame(np.random.uniform(0,1,(5,3)))
df.columns = ['A', 'B', 'C']
df.index=(pd.date_range(start='2020-03-01', end='2020-03-05'))
display(df)

                   A         B         C
2020-03-01  0.990339  0.216897  0.663078
2020-03-02  0.263322  0.020651  0.758379
2020-03-03  0.320017  0.383464  0.588317
2020-03-04  0.831048  0.628982  0.872651
2020-03-05  0.273542  0.798047  0.185636

In [53]:
df = pd.DataFrame(np.random.uniform(0,1,(20,3)))
df.columns = ['A', 'B', 'C']
df.index = pd.RangeIndex(1,21)
df.index.name = 'id'

display(df.iloc[0:3])
display(df.iloc[17::])
display(df.index.name)
display(df.columns.name)

           A         B         C
id
1   0.367475  0.706872  0.649534
2   0.927976  0.866861  0.816151
3   0.911451  0.276337  0.369524

           A         B         C
id
18  0.664197  0.401688  0.085795
19  0.062689  0.278117  0.169313
20  0.965095  0.151230  0.805462

'id'

None